<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema</title>s
    <link rel= "stylesheet" href ="styles/index.css">
</head>
<body>
    <div class="text">
    <h1>MOMA CINEMA</h1>
    </div>
    
    {{body}}

    <ul class="links">
        <li><a href="https://www.w3schools.com/">Home</a></li>
        <li><a href="https://www.w3schools.com/">Schedule</a></li>
        <li><a href="films.html">Films</a></li>
        <li><a href="booking.html">Book Online</a></li>
        <li><a href="https://www.w3schools.com/">Plan and Pricing</a></li>
        <li><a href="https://www.w3schools.com/">Contact</a></li>
    </ul>

    <div class="SCREEN">
    <h1>SCREENING NOW</h1>
    </div>

    <div class="Footer">
  <h1>MOMA</h1>
  <p>info@mysite.com</p>
  <p>©2023 by MOMA. Proudly created by MOMA Team</p>
</div>

</body>


<script src="scripts/main.js"></script>
</html>
