<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema</title>
    <link rel="stylesheet" href="styles/index.css">
    <base href="/">
</head>
<body>
    <div class="text">
    <h1>MOMA CINEMA</h1>
    </div>
    
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/films">Films</a></li>
        <li><a href="/screenings">Book Online</a></li>
        <li><a href="https://www.w3schools.com/">Plan and Pricing</a></li>
        <li><a href="https://www.w3schools.com/">Contact</a></li>
    </ul>

    {{{body}}}

    <div class="Footer">
  <h1>MOMA</h1>
  <p>info@mysite.com</p>
  <p>©2023 by MOMA. Proudly created by MOMA Team</p>
</div>

</body>


</html>
