    <link rel= "stylesheet" href ="styles/booking.css">
    
    <div id="makeBookingBanner">
      <h1>MAKE A BOOKING</h1>
    </div>

  
  <div class="detailsContainer">

    <img src="images/poster1.png" class="image">
    <div class="center">
      <button id="makeBooking" class="btn">Book Movie</a></button>
      <p class="filmTitle">{{title}} ({{rating}})</p>
      <p class="filmLength">{{year}}</p>
    </div>

    <p class="filmSummary">{{description}}</p>
  </div>
  <script src="scripts/booking.js"></script>