
    <link rel= "stylesheet" href ="styles/comingsoon.css">


    <div class="Coming_Soon">
        <h1>Coming Soon to MOMA</h1>
    </div>

    <div class="row">
        <div class="column">
          <img src="images/posters/img1.jpg" style="width:100%">
        </div>
        <div class="column">
          <img src="images/posters/img2.jpg" style="width:100%">
        </div>
        <div class="column">
          <img src="images/posters/img10.jpg" style="width:100%">
        </div>
        <div class="column">
            <img src="images/posters/img4.jpg" style="width:100%">
          </div>
          <div class="column">
            <img src="images/posters/img5.jpg" style="width:100%">
          </div>
          <div class="column">
            <img src="images/posters/img3.jpg" style="width:100%">
          </div>
          <div class="column">
            <img src="images/posters/img7.jpg" style="width:100%">
          </div>
          <div class="column">
            <img src="images/posters/img8.jpg" style="width:100%">
          </div>
          <div class="column">
            <img src="images/posters/img9.jpg" style="width:100%">
          </div>
      </div>