<link rel="stylesheet" href="styles/index.css">
<div class="contactBanner">
    <h1>Contact us</h1>
</div>

<div class="contactContainer">
    <p><b>Email:</b> moma@businessinfo.com</p>
    <p><b>Phone No:</b> 087 123 4567</p>
</div>