        <link rel= "stylesheet" href ="styles/films.css">

    </div>

    <div id="filmList">
        {{#each films}}
        <div class="filmContainer">
            <img src="images/poster1.png" class="filmImg">
            <div class="filmDescriptionContainer">
                <p class="filmTitle">{{title}} ({{rating}})</p>
                <p class="filmYear">{{year}}</p>

                <p class="filmSummary">{{description}}</p>
                <button class="filmTrailerBtn">View Trailer</button>
            </div>
        </div>
        {{/each}}
    </div>