    <link rel= "stylesheet" href ="styles/planandprice.css">


        <div id="Price">
            <h1>PRICE LIST</h1>
            </div>


            <div class="container">
                <table class="striped">
                    <tbody>
                        <tr>
                            <td>Adult Ticket</td>
                            <td class="right-align">8.00</td>
                        </tr>
                        <tr>
                            <td>Kid Ticket (12 Years or Below)</td>
                            <td class="right-align">5.00</td>
                        </tr>
        
                        <tr>
                            <td>Student Ticket (Please Bring Student ID Card)</td>
                            <td class="right-align">6.00</td>
                            
                        </tr>
                </tbody>
                </table>
            </div>
