    <div class="text">
        <h1>MOMA CINEMA</h1>
        </div>
    
        <div id="viewTicketBanner">
          <h1>View Ticket</h1>
        </div>
    
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Schedule</a></li>
            <li><a href="films.html">Films</a></li>
            <li><a href="booking.html">Book Online</a></li>
            <li><a href="">Plan and Pricing</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    <div class="viewticketContainer">
        <div class="center">
            <p class="filmTitle">Avengers Endgame</p>
            <p class="ticketDate">10 March 2023</p>
            <p class="filmLength">180 Minutes</p>
            <p class="filmTitle"><b>Seat:</b>A6</p>
            <div id="qrcode"></div>
        </div>
    </div>