
    <link rel= "stylesheet" href ="styles/viewticket.css">

    <div id="viewTicketBanner">
        <h1>View Ticket</h1>
    </div>

    <div class="viewticketContainer">
        <div class="center">
            <p class="filmTitle">{{title}}</p>
            <p class="ticketDate">{{date}}</p>
            <p class="filmTitle"><b>Seat:</b>A6</p>
            <img src="{{qrData}}"></img>
        </div>
    </div>