   
<link rel= "stylesheet" href ="styles/booking.css">
    <div id="makeBookingBanner">
      <h1>View Screenings</h1>
    </div>

  
  <div class="detailsContainer">

  
    <div class="center">

    </div>
  </div>
  <script src="scripts/viewscreening.js"></script>