   
    
    <div id="makeBookingBanner">
      <h1>MAKE A BOOKING</h1>
    </div>

  
  <div class="detailsContainer">

    <img src="images/poster1.png" class="image">
    <div class="center">

    </div>
  </div>
  <script src="scripts/booking.js"></script>