label{
    margin-bottom: 6px;
    height:20px;
    font-family:sans-serif;
}

input{
    height:22px;
    margin-bottom:3px;
}

select{
    height:22px;
    margin-bottom:3px;
}

textarea{
    margin-bottom:3px;
}

h1{
    font-size:30px;
    font-family:sans-serif;
}

h3{
    font-size:19px;
    font-family:sans-serif;
}

.inputSubmit{
    width:60px;
    height:20px;
    margin-top:3px;
}

.flexRow{
    display:flex;
    flex-direction:row;
}

.flexColumn{
    display:flex;
    flex-direction:column;
}

.flexColumnM{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.dispTop1 {
    border: 1px black solid;
    width:100px;
    height:20px;
    color:white;
    background-color:rgb(60, 76, 170);
}

.dispTop2{
    border: 1px black solid;
    width:100px;
    height:20px;
    color:white;
    background-color:rgb(60, 86, 160);
}

.disp1{
    border: 1px black solid;
    width:100px;
    height:60px;
    color:white;
    background-color:rgb(60, 96, 150);
}

.disp2{
    border: 1px black solid;
    width:100px;
    height:60px;
    color:white;
    background-color:rgb(60, 101, 145);
}