
@import url("main.css");
@import url("films.css");
/* booking page css */

.image {
  display: flex;
  margin: 2%;
  width: 40%;
  height: auto;
  }

  .imgRating {
    display: flex;
    margin: 20px;
    width: 80px;
      height: auto;
    margin-right: auto;
    }

  .detailsContainer {
    max-width: 800px;
    align-self: center;
    border-bottom: 5px solid rgb(0, 0, 0);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }


  #detailsOuter {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  /* Button CSS*/
  .btn {
    width: 200px;
    height: 40px;
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
    font-weight: 100;
    background-color: rgb(27, 38, 97);
    color: white;
    box-shadow:0px 0px 0px 1px white inset;
  }

    /*Button on hover & focus */
    .btn:hover, .btn:focus {
      background-color: #D3D3D3;
    }

  .btncenter {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
  }

  .detailscenter {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }



 


  #makeBookingBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(27, 38, 97);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
  }
  
  
  

