@import url("main.css");
@import url("films.css");



#viewScreeningBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(27, 38, 97);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
  }

  .btn {
    width: 200px;
    height: 40px;
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
    font-weight: 100;
    background-color: rgb(27, 38, 97);
    color: white;
    box-shadow:0px 0px 0px 1px white inset;
  }

#detailsOuter {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 2px solid black;
    text-align: left;
    padding: 20px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

      /*Button on hover & focus */
      .btn:hover, .btn:focus {
        background-color: #D3D3D3;
      }